div.explanation { margin: 0 0 2em 0; }
div.explanation p, p.explanation { font-size: 12px; }

#instrOverlay
{
  display: block;
  position: absolute;
  background-color: rgba(128,128,128, 0.9);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,10,0.3);
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
  white-space: pre;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 4px 8px;
  border-radius: 5px;
  pointer-events: none;
  min-width: 120px;
  z-index: 2;
}
#instrOverlay:before
{
  content: '';
  position: absolute;
  top: -5px;
  left: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent rgba(128,128,128, 0.9); transparent;
}

@page { size:landscape; }

.dotmatrix_bck {
    background-image: url("matrixpaper.png");
    /*background-size: auto;*/
    /* 52 * 400/500 */
    background-size: 400px 42px;
    border-radius:10px;
    padding: 0px 30px;
    line-height: 21px;
    background-attachment:local;
    font-family: courier,monospace; font-size: 12px; font-weight:500;
  }


  #codefield,#debugfield
  {
    word-break:break-all;
    overflow-wrap:anywhere;
    overflow-y:scroll;
    white-space:normal;
    outline: 0px solid transparent;
  }

  #codefield::-webkit-scrollbar {
    background-color: transparent;
  }
  #codefield::-webkit-scrollbar-thumb {
    background-color: #AFFFF6;
  }

  #debugfield::-webkit-scrollbar {
    background-color: transparent;
  }
  #debugfield::-webkit-scrollbar-thumb {
    background-color: #AFFFF6;
  }