  .regdisp {
    width: 218px;
    height: 69px;
  }

  .regscroll_h {
    width: 216px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .regpar {display: flex; scroll-behavior: smooth;}

  .regbox {
    flex-shrink: 0;
    height: 40px;
    width: 25px;
    text-align: center;
  }

  .regbyte {
  flex-shrink: 0;
  height: 16px;
  width: 25px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  }

  .regbyte_red
  {
    /*  @extend .regbyte */;
    flex-shrink: 0;
    height: 16px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color:red;
  }

  .regbyte_green
  {
    /*  @extend .regbyte */;
    flex-shrink: 0;
    height: 16px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color:#00D000
  }

  .regbyte_yellow
  {
    /*  @extend .regbyte */;
    flex-shrink: 0;
    height: 16px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color:#D0D000
  }

  .regadr {
    font-size:xx-small;
  }

  #dispStep, #watchdisp
  {
    white-space:normal;
    word-break:break-all;
    overflow-wrap:anywhere;
    overflow-y:scroll;
  }

  .regdisp {
    width: 218px;
    height: 69px;
  }

  .regscroll_h {
    width: 216px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .regpar {display: flex; scroll-behavior: smooth;}

  .regbox {
    flex-shrink: 0;
    height: 40px;
    width: 25px;
    text-align: center;
  }

  .regbyte {
  flex-shrink: 0;
  height: 16px;
  width: 25px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  }

  .regbyte_red
  {
    /*  @extend .regbyte */;
    flex-shrink: 0;
    height: 16px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color:red;
  }

  .regbyte_green
  {
    /*  @extend .regbyte */;
    flex-shrink: 0;
    height: 16px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color:#00D000
  }

  .regadr {
    font-size:xx-small;
  }

  #dispStep, #watchdisp
  {
    white-space:normal;
    word-break:break-all;
    overflow-wrap:anywhere;
    overflow-y:scroll;
  }

  .dtable {
   width:220px;
   font-size:xx-small;
  }

  .dtable tr td {
    border:1px solid black;
    position: relative;
    text-align:center;
    nowrap:nowrap;
    font-size: small;
    width:12px;
    text-align:center;
    white-space: nowrap;
   }